<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: rgb(248, 212, 6);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>My Portfolio CSS</h1>
<p>This is an Awesome thing!</p>

</body>
</html>